<%= stylesheet_link_tag 'style.css' %>
<div class="user">
  <div class="col-md-12">
    <h4>Members</h4>
    <a style="float: right; margin-top:10px;" class="btn btn-info"  <%= link_to 'Add Member', new_user_invitation_path %></a>
    <div id='new_user_invitation'></div>
  </div>
  <table>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Role</th>
      <th></th>
      <th></th>
    </tr>
    <% @users.all.each do |user| %>
      <% if user.organisation_id == current_user.organisation_id %>
        <tr>
          <td><%= full_name(user) %></td>
          <td><%= user.email %></td>
          <td><%= user.role.name %></td>
          <td><%= link_to edit_user_path(user.id), remote: true  do %>
          <span class="fas fa-pencil-alt" aria-hidden="true"></span>
          <%end%></td>
          <div id='edit_user'></div>
          <td><%= link_to sanitize('<i class="fas fa-trash-alt" aria-hidden="true">'), user_path(user), method: :delete, data:{confirm: "Are you sure you want to delete user?" } %></td>                   
        </tr>
      <% end %>
    <% end %>
  </table>
</div>
