<%= stylesheet_link_tag 'style.css' %>
<div class="user">
  <div class="col-md-12">
    <%= render '/users/shared/tabs' %>
    <h4>Members</h4>
    <a style="float: right; margin-top:10px;" class="btn btn-info" 
      <%= link_to 'Add Member', new_user_invitation_path, remote: true %>
    </a>
    <div id='new_user_invitation'></div>
  </div>
  <%= render '/users/all_users_list' %>
  <%= render '/users/shared/pagination' %>
</div>
