<%= stylesheet_link_tag 'style.css' %>
<div class="user">
  <div class="col-md-12">
    <%= render '/users/shared/tabs' %>
    <h4>Members</h4>
    <a style="float: right;" class="btn btn-info" 
      <%= link_to 'Add Member', new_user_invitation_path, remote: true %>
    </a>
    <form class="search" action="users/search" style="float: right; margin-right:0.5cm;">
      <input class="form-control mr-sm-2" name="name" type="search" placeholder="Search" 
        aria-label="Search" >
    </form>
    <div id='new_user_invitation'></div>
    <div class="notice">
      <% if flash.any? %>
        <script type="text/javascript">
          <% flash.each do |key, value| %>
                  <% type = key.to_s.gsub('alert', 'error').gsub('notice', 'success') %>
                  toastr.<%= type %>('<%= value %>')
                <% end %>
        </script>
      <% end %>
    </div>
  </div>
  <table>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Role</th>
      <th>Status</th>
      <th></th>
      <th></th>
    </tr>
    <%= render partial: "user", collection: @users %>
  <table>
  <%= render '/users/shared/pagination' %>
</div>
