<div class="modal fade" id="newUser">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newUserlTitle">Send Invitation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_for(resource, as: resource_name, url: invitation_path(resource_name),remote: true, 
                    html: { method: :post }) do |f| %>
          <div id='user_invitation'></div>

          <div class="form">
            <div class="notice" >
              <%= @notice %>
            </div>
            
            <div class="error" >
              <%= resource.errors.full_messages_for(:first_name).first %>
            </div>
            <%= f.text_field :first_name, placeholder: "First Name"  %>
            
            <%= f.text_field :last_name, placeholder: "Last Name"  %>

            <div class="error" >
              <%= resource.errors.full_messages_for(:email).first %>
            </div>
            <%= f.email_field :email,placeholder: "Email" %><br/>

            <div class="error" >
              <%= resource.errors.full_messages_for(:role).first %>
            </div>     
            <%= f.select :role_id, Role.all.pluck(:name,:id),{prompt:'Role'} %>

            <%= f.hidden_field :organisation_id, value: current_user.organisation_id %>

            <%= f.hidden_field :invitation_status, value: "Pending" %>
            
            <%= f.hidden_field :password, value: "password" %>

            <div class="modal-footer">
              <%= f.submit "send" %>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>   
            </div>
          </div> 
        <% end %> 
      </div>
    </div>
  </div>
</div>
