<div class="modal fade" id="newUser">
  <div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="newUserlTitle">Send Invitation</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
    <%= form_for(resource, as: resource_name, url: invitation_path(resource_name), html: { method: :post }) do |f| %>
      <div class="form">
        <%= render "users/shared/error_messages", resource: resource %>
          <%= f.text_field :first_name, placeholder: "First Name"  %>
          <%= f.text_field :last_name, placeholder: "Last Name"  %>
          <%= f.email_field :email,placeholder: "Email" %><br/>
          <%= f.select :role_id, Role.all.pluck(:name,:id),{prompt:'Role'} %>
        <div class="modal-footer">
        <%= f.submit "send" %>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>   
      <% end %> 
      </div>
    </div> 
    </div>
  </div>
</div>
