<%= stylesheet_link_tag 'style.css' %>

<div class="user">
  <div class="col-md-12">
    <%= render '/users/shared/tabs' %>
    <h4>Pending Invitations</h4>
    <div class="notice" style="margin-left: 2cm;" >
      <%= notice %>
    </div>
  </div>
  <%= render '/users/invitations/pending_users_list' %>
  <%= render '/users/shared/pagination' %>
</div>
